*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

body {
    background: #f4f6fa;
    color: #313E51;
    font-size: 28px;
    font-weight: 500;
    position: relative;
}

.ellipse {
    position: absolute;
}

.ellipse-8 {
    top: -97px;
    left: 0px;
    z-index: -1;
}

.ellipse-9 {
    bottom: -340px;
    right: 0px;
    z-index: -1;
}

.container {
    width: 1160px;
    margin: 97px auto 280px;
}

.category-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.category-mode>div>h2 {
    font-size: 28px;
    font-weight: 500;
    /* border: 2px solid red; */
}

.category-mode>div:first-child {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 24px;
    /* margin-bottom: 85px; */
}

.mode {
    align-content: center;
    display: flex;
    justify-content: space-between;
    /* gap: 16px; */
    height: 28px;
    width: 128px;
    align-items: center;
    /* margin-bottom: 100px; */
    /* margin-left: 1032px; */
}

.toggle {
    background: #A729F5;
    display: inline-block;
    width: 48px;
    height: 28px;
    border-radius: 20px;
    position: relative;
}

.toggle::before {
    content: '';
    background: #fff;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    margin: 4px;
    width: 20px;
    transition: .2s transform ease-in-out;
}

input[type='checkbox'] {
    opacity: 0;
    display: none;
}

input:checked+.toggle::before {
    transform: translateX(100%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 131px;
}


.grid-left h4 {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 27px;
}

.grid-left>h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 123px;
    width: 465px;
}

/* .grid-left>h1>span {
    font-weight: 700;
    text-wrap: nowrap;
} */

.progress-bar {
    background: #fff;
    border-radius: 20px;
    content: '';
    height: 16px;
    position: relative;
}

.progress-bar:after {
    background: #A729F5;
    box-shadow: 10px 10px 40px 0px rgba(143, 160, 193, 0.15);
    border-radius: 10px;
    position: absolute;
    content: '';
    margin: 4px;
    height: 8px;
    width: 300px;

}


.choice {
    color: #626C7F;
    background: #F4F6FA;
    display: inline-block;
    width: 56px;
    text-align: center;
    border-radius: 5px;
}

.category {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 10px 10px 40px 0px rgba(143, 160, 193, 0.15);
    width: 564px;
    margin-bottom: 24px;
}

.category h2:not(span h2) {
    font-size: 28px;
    font-weight: 500;
    margin-left: 32px;
    border: 2px solid red;
}

.grid-right .category:last-child {
    margin-bottom: 0;
}